/* h1{
    color: blue;
    background-color: aqua;
    height: 50px;
    text-align: center;
}
p{
    color: rgb(70, 5, 5);
    background-color: rgb(243, 243, 247);
    font-size: 25px;
    text-align: center;
    text-align-last: justify;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: brown;
    text-transform: capitalize;
    line-height: 50px;
    word-spacing: 12px;
    letter-spacing: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Ephesis', cursive;
    font-family: 'Noto Sans Glagolitic', sans-serif;
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;

   
} */
